:root {
    --bg-color: #111;
    --bg-color-secondary: #202020;
    --text-color: white;
    --text-dark-color: #b4b4b4;
    --starter-color: #FF4794;
    --starter-color-rgb: 255, 71, 148;
    --plus-color: #6838CB;
    --plus-color-rgb: 104, 56, 203;
    --impulse-color: #5CD4F9;
    --impulse-color-rgb: 92, 212, 249;
    --font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    font-family: var(--font-family) !important;
    box-sizing: border-box;
    border: 0;
}

*::-webkit-scrollbar{
    display: none;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
    overflow-y: scroll;
}

main {
    overflow: hidden;
    overflow-y: scroll; 
}

img {
    max-width: 100%;
}

small {
    font-size: 85% !important;
}

strong {
    font-weight: 800 !important;
}

a {
    display: flex;
    gap: 1em;
    align-items: center;
    text-decoration: none;
    color: var(--text-dark-color);
}

p {
    font-size: 1.3em !important;
    line-height: 1.3em !important;
    font-weight: 500 !important;
    color: var(--text-dark-color);
}

i {
    font-style: italic !important;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
    padding: 1em 2em;
    max-width: 20em;
    font-size: 1.2em;
    background: linear-gradient(90deg, rgba(var(--starter-color-rgb)) 0%, rgba(var(--plus-color-rgb)) 50%, rgba(var(--impulse-color-rgb)) 100%);
    color: var(--text-color);
    border-radius: 2em;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover {
    background: var(--text-color) !important;
    color: var(--bg-color) !important;
}

section {
    position: relative;
    background-color: var(--bg-color);
}
section .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 4em;
}

nav a {
    position: fixed;
    left: 12vw;
    top: 3em;
    z-index: 99;
}
nav a,
nav a img {
    transition: all 0.3s ease-in-out;
}
nav.scrolled a {
    top: 2em;
}
nav.scrolled a img {
    width: 6em;
}

footer {
    padding: 2em 0 8em 0 !important;
    text-align: center;
    color: var(--text-dark-color);
}
footer p {
    font-size: 1em !important;
    line-height: 1.2em;
}
footer .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 2em 0;
}
footer .social-links a {
    font-size: 3em;
    color: white;
}
footer .social-links a:hover {
    color: var(--starter-color);
}

.starter-color {
    color: var(--starter-color) !important;
}
.starter-bg-color {
    background: var(--starter-color) !important;
}
.plus-color {
    color: var(--plus-color) !important;
}
.plus-bg-color {
    background: var(--plus-color) !important;
}
.impulse-color {
    color: var(--impulse-color) !important;
}
.impulse-bg-color {
    background: var(--impulse-color) !important;
}
.bg-dark {
    background: var(--bg-color-secondary) !important;
}

.intro-section {
    display: grid;
    align-content: center;
    height: 100vh;
}
.intro-section .section-container {
    max-width: 900px;
    gap: 1.2em;
    padding: 0;
    z-index: 3;
}
.intro-section video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: .15;
}
.intro-section h1 {
    font-size: 4.4em;
    line-height: .9em;
    font-weight: 700;
}
.intro-section h2 {
    font-size: 1.8em;
    font-weight: 400;
}
.intro-section p {
    font-size: 1.6em;
    letter-spacing: .3em;
    word-spacing: .3em;
    padding: .2em 0;
}
.intro-next-btn {
    position: absolute;
    left: calc(50vw - .6em);
    bottom: 3em;
    font-size: 3em;
    background: none;
    color: white;
    z-index: 3;
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes fadeOutDown {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  @keyframes fadeOutDown {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
.qualification-section {
    z-index: 9;
    background-color: var(--bg-color-secondary);
}
.qualification-section p {
    font-size: 1.2em !important;
    line-height: 1.6em;
    color: var(--text-dark-color);
}
.qualification-section a {
    margin-top: 2em;
    font-size: 1.2em;
}
.qualification-section a > span {
    padding-bottom: .6em;
    position: relative;
}
.qualification-section a > span:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    transform-origin: left;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, #fff 0, #fff 25%, transparent 0, transparent 50%, #fff 0, #fff 75%, transparent 0, transparent);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 400% 1px;
    transition: background-position 0.8s ease-in-out;
}
.qualification-section a > span:hover:before {
    background-position: 100%;
}
.qualification-section .qualification-headlines {
    text-align: right;
    max-width: 900px;
    margin-left: auto;
}
.qualification-section .qualification-headlines h2 {
    font-size: 3.6em;
    font-weight: 500;
}
.qualification-section .qualification-headlines h3 {
    font-size: 2em;
    color: var(--text-dark-color);
    font-weight: 400;
}
.qualification-section .qualification-moments {
    display: flex;
    padding: 6em 0;
    gap: 6em;
}
.qualification-section .qualification-moment {
    text-align: left;
    display: grid;
    gap: 1em;
    width: 33.33%;
}
.qualification-section .qualification-moment h3 {
    font-size: 1.6em;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: .6em;
}
.qualification-section .section-container {
    max-width: 1280px;
    padding-top: 8em;
}

.plan-section h2 {
    font-size: 3em;
    font-weight: 500;
}
.plan-section .section-container {
    justify-content: space-evenly;
    flex-direction: row;
    text-align: left;
    padding-top: 8em;
    padding-bottom: 8em;
    gap: 3em;
}
.plan-section .plan-details {
    display: grid;
    gap: 1em;
    width: 40%;
    max-width: 420px;
}
.plan-section .plan-video {
    text-align: center;
}
.plan-section .plan-video iframe {
    border-radius: 2em;
    max-width: 100%;
}
.plan-section button {
    margin-top: 1em;
    padding: .6em 1.6em;
}
.plan-section .plan-price-prefix {
    font-size: 2em;
    color: var(--text-dark-color);
}
.plan-section .plan-price-number {
    font-size: 4em;
    font-weight: bold;
    border-bottom: 2px solid white;
}
.plan-section .plan-text-secondary {
    font-size: 1em !important;
    color: var(--text-dark-color);
}
.plan-section#plus {
    background-color: var(--bg-color-secondary);
}

.comparison-section {
    background-color: var(--bg-color-secondary);
}
.comparison-section .section-container {
    flex-direction: row;
    text-align: left;
    padding: 12em 6em;
}
.comparison-section h2 {
    width: 40%;
    font-size: 3em;
    margin-right: 3em;
}
.comparison-section p {
    background: var(--plus-color);
    padding: 1.6em;
    border-radius: 2em;
    color: white;
    font-size: 1.8em !important;
    font-weight: 300 !important;
}

.different-section {
    height: 80vh;
}
.different-section .section-container {
    padding: 4em 0;
    gap: 1em;
    align-items: start;
    text-align: left;
    margin-left: 3em;
    z-index: 2;
}
.different-section:after {
    content: '';
    background-image: url(/media/event.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.different-section h2 {
    font-size: 1.6em;
    letter-spacing: .6em;
}
.different-section h2 .span {
    font-size: 1.4em;
    letter-spacing: 0;
}
.different-section p {
    font-size: 1.6em !important;
    color: rgba(255,255,255, .9);
    max-width: 560px;
}
.different-section button {
    margin-top: 1em;
}

.team-section {
    display: grid;
    align-content: center;
}
.team-section h2 {
    font-size: 2.2em;
    color: var(--text-dark-color);
}
.team-section h3 {
    font-size: 2.5em;
    margin-top: .6em;
    margin-bottom: .3em;
    font-weight: bold;
}
.team-section p {
    font-size: 1.3em !important;
    color: var(--text-dark-color);
    line-height: 1.4em !important;
}
.team-section .section-container {
    flex-direction: row;
    text-align: left;
}
.team-section .section-container > div {
    width: 50%;
}
.team-section .team-pics {
    text-align: center;
    padding: 6em 0;
}
.team-section .team-pics img {
    border-radius: 2em;
    width: 320px;
    height: 332px;
}
.team-section .team-pics img:nth-child(2) {
    position: relative;
    left: 3em;
    top: -3em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width: 1081px) {
    .plan-container-reverse .plan-video {
        order: 2;
    }
    .plan-container-reverse .plan-details {
        order: 1;
    }
}
@media (max-width: 480px) {
    .qualification-section .qualification-headlines {
        max-width: 300px;
    }
    .qualification-section .qualification-headlines h3 {
        font-size: 1.1em !important;
    }
    .qualification-section .qualification-headlines h2 {
        font-size: 1.9em !important;
    }
    .comparison-section p {
        font-size: 1em !important;
    }
    .plan-section .plan-price-number {
        font-size: 2.5em !important;
    }
    .qualification-section .qualification-moment h3 {
        font-size: 1.4em !important;
    }
    .different-section h2 {
        font-size: 1em !important;
    }
    .different-section p {
        font-size: 1.2em !important;
    }
    .different-section .section-container {
        margin: 0;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 750px) {
    .intro-section::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .15;
        background-image: url('/media/background_mobile.webp');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    .intro-section video {
        display: none;
    }
    .plan-section .plan-video {
        padding: 2em 0 !important;
    }
    .qualification-section .qualification-headlines {
        width: 100% !important;
        max-width: 400px;
    }
    .qualification-section .qualification-headlines h3 {
        font-size: 1.4em;
    }
    .qualification-section .qualification-headlines h2 {
        font-size: 2.5em;
    }
    .comparison-section p {
        padding: 1.6em !important;
        font-size: 1.3em !important;
    }
    .qualification-section p {
        font-size: 1em !important;
        line-height: 1.2em !important;
    }
    .team-section .team-pics img {
        max-width: 180px;
        height: auto;
    }
    .team-section .team-pics img:nth-child(2) {
        top: -1em;
    }
    .different-section h2 {
        font-size: 1.3em;
    }
    section .section-container {
        padding: 4em 2em;
    } 
}
@media (max-width: 1080px) {
    .intro-section .section-container {
        max-width: 300px;
        top: -3em;
    }
    .intro-section h1 {
        font-size: 2.2em;
    }
    .intro-section h2 {
        font-size: 1em;
    }
    .intro-section p {
        font-size: .8em !important;
    }
    .plan-section .section-container {
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .qualification-section .qualification-headlines {
        width: 570px;
    }
    .plan-section .plan-video {
        padding: 4em;
    }
    .team-section h3 {
        font-size: 1.8em !important;
        font-weight: 300;
    }
    .team-section p {
        font-size: .9em !important;
    }
    .team-section .team-pics {
        padding: 3em 0 !important;
    }
    .qualification-section .qualification-moments,
    .comparison-section .section-container,
    .plan-section .section-container,
    .team-section .section-container {
        flex-direction: column;
    }
    .qualification-section .qualification-moment,
    .plan-section .plan-details,
    .plan-section .plan-video,
    .team-section .section-container > div,
    .comparison-section h2,
    .comparison-section p {
        width: 100% !important;
    }
    .comparison-section .section-container {
        padding: 2em;
        padding-bottom: 6em;
        max-width: 600px;
    }
    .comparison-section h2 {
        text-align: center;
        padding: 1em 0;
        margin: 0;
    }
    footer .social-links a {
        font-size: 2.4em !important;
    }
    .different-section:after {
        background-position: 20%;
    }
    .btn {
        padding: 1em;
        font-size: 1em;
    }
    nav a {
        top: 1em;
    }
    nav a img {
        width: 5em;
        height: auto;
    }
    nav.scrolled a img {
        width: 4em;
    }
    p {
        font-size: 1.2em !important;
        line-height: 1em !important;
    }
}
@media (max-width: 1700px) {
    nav a {
        left: 5vw;
    }
}
